
.login-form {
    display: flex;
    flex-direction: column;
}
  
.login-input {
      font-size: 16px;
      width: 35vh;
      height: 50px;
      margin: 0 0 15px 0;
      border-radius: 50px;
      border: 1px solid gray;
      padding: 0 0 0 20px;
      margin: 0 auto;
      margin-top: 20px;
    }
  
.login-btn {
      color: white;
      background-color: darkgray;
      width: 37vh;
      height: 50px;
      margin: 0 auto;
      margin-top: 20px;
      border-radius: 50px;
      border: 1px solid gray;
}
  
.login-btn:hover {
        background-color: #585858;
        box-shadow: 0px 2px 4px gray;
}
.error-message {
      margin: 0 auto 10px 70px;
      margin-top: 20px;
}

.login-panel {
	background-color: white;
	width: 50vh;
	height:600px;
	left: 0;
	right:0;
	margin: 5vh auto;
	border-radius: 10px;
    box-shadow:0px 2px 4px gray;
}

.login-panel_wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
}
.login-panel_logo {
        padding: 50px 0;
        max-width: 100%;
        height: auto;
        width: auto;
}

  